{{#unless this.isClosed}}
  <div class="el-alert animate__animated animate__fadeIn {{this.typeClass}} {{this.effectClass}} {{if @center 'is-center'}} {{if this.isClosed
                                                                                                             'el-hidden'}}"
     role="alert">


  {{#if @showIcon}}
    <i class="el-alert__icon {{this.iconClass}} {{this.isBigIcon}}"></i>
  {{/if}}
  <div class="el-alert__content">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{#if @title}}
        <span class="el-alert__title {{this.isBoldTitle}} ">
          {{ @title }}
        </span>
      {{/if}}
    {{/if}}

    {{#if @description}}
      <p class="el-alert__description">{{ @description }}</p>
    {{/if}}

    {{#if this.isClosable}}
      <i class="el-alert__closebtn {{if @closeText "is-customed" "el-icon-close"}} "
         role="button"
        {{on 'click' this.close}}
      >
        {{@closeText}}
      </i>

    {{/if}}
  </div>
</div>

{{/unless}}