<div class="el-badge">
  {{yield}}
  {{#if @isShow}}
    <sup
            class=" el-badge__content el-badge--content--{{type}} {{if @isDot "is-dot"}} {{if hasBlock "is-fixed"}}"
    >
      {{@content}}
    </sup>
  {{/if}}
</div>
