{{#if messageObj.iconClass}}
  <i class="el-message__icon {{messageObj.iconClass}} "></i>
{{else}}
  <i class={{typeClass}}></i>
{{/if}}

<p class="el-message__content">{{ messageHTML }}</p>

{{#if messageObj.showClose}}
  <i class="el-message__closeBtn el-icon-close" {{action "close"}} role="button">
  </i>
{{/if}}