<div class="el-message-box__wrapper ember-element-box animated {{this.className}}" aria-label={{@ariaLabel}} ariaModal={{if @ariaModal 'aria-modal'}}  role="dialogue">
  <div class="el-message-box {{this.getClassNameForBox}}">

    {{#if @messageObj.title}}
      <div class="el-message-box__header">
        <div class="el-message-box__title">
          {{#if this.isIconCenter}}
            <div class="el-message-box__status {{this.icon}}"></div>
          {{/if}}
          <span>{{ @messageObj.title }}</span>
        </div>
        {{#if @messageObj.showClose}}
          <button
            type="button"
            class="el-message-box__headerbtn"
            aria-label="Close"
            {{on 'click' this.close}}
          >
            <i class="el-message-box__close el-icon-close"></i>
          </button>
        {{/if}}
      </div>
    {{/if}}


    <div class="el-message-box__content">
      {{#if this.isIconCenter2}}
        <div class="el-message-box__status {{this.icon}}"></div>
      {{/if}}
      {{#if @messageObj.message}}
        <div class="el-message-box__message">
          {{ @messageObj.message }}
        </div>
      {{/if}}
      {{#if @messageObj.showInput}}
        <div class="el-message-box__input">
          <ElInput
            @value={{@messageObj.inputValue}}
            @type={{@messageObj.inputType}}
            @placeholder={{@messageObj.inputPlaceholder}}
            @customClass={{inputErrorClass}}
            ref="input"
          />

          {{!-- todo: @keydown.enter.native="handleInputEnter"--}}
          <div class="el-message-box__errormsg">
            {{ errorMessage }}
          </div>

        </div>
      {{/if}}
      
    </div>
    <div class="el-message-box__btns">
      {{#if @messageObj.showCancelButton}}
        <ElButton
          @loading={{@messageObj.cancelButtonLoading}}
          class={{this.cancelButtonClasses}}
          @round={{@messageObj.roundButton}}
          @click={{fn this.handleActions "cancel"}}
          @size="small"
        >

          {{ @messageObj.cancelButtonText  }}
          {{!--@click.native="handleAction('cancel')"--}}
          {{!--@keydown.enter="handleAction('cancel')"--}}
        </ElButton>
      {{/if}}
      {{#if @messageObj.showConfirmButton}}
        <ElButton
          @loading={{@messageObj.confirmButtonLoading}}
          ref="confirm"
          class={{this.confirmButtonClasses}}
          @round={{@messageObj.roundButton}}
          @click={{fn this.handleActions "confirm"}}
          @size="small"
        >
          {{!--@click.native="handleAction('confirm')"--}}
          {{!--@keydown.enter="handleAction('confirm')"--}}
          {{ @messageObj.confirmButtonText }}
        </ElButton>
      {{/if}}
    </div>
  </div>
</div>