{{! template-lint-disable }}

<span 
  {{on "click" this.handleAction}} 
  class="el-switch {{if isChecked "is-checked"}} {{if isDisabled "is-disabled"}}" 
  role="switch">

  <Input
    @type="checkbox"
    @checked={{@model}}
    @class="el-switch__input"
    @disabled={{isDisabled}}
  />

  {{#if isInactive}}
    <span class="el-switch__label el-switch__label--left {{if notChecked "is-active"}}">
      {{#if inactiveIconClass }}
        <i class={{inactiveIconClass}}></i>
      {{/if}}
      {{#if isInactiveText }}
        <span aria-hidden={{isChecked}}>{{ inactiveText }}</span>
      {{/if}}
    </span>
  {{/if}}
  <span class="el-switch__core" ref="core" style={{spanStyle}} {{! template-lint-disable }}></span>

  {{#if isActive}}
    <span class="el-switch__label el-switch__label--right  {{if isChecked "is-active"}}">
      {{#if activeIconClass }}
        <i class={{activeIconClass}}></i>
      {{/if}}
      {{#if isActiveText }}
        <span aria-hidden={{notChecked}}>{{ activeText }}</span>
      {{/if}}
    </span>
  {{/if}}
</span>


