{{#unless this.isClosed}}
  <span class="el-tag
    {{if @hit 'is-hit'}}
      {{if this.isClosed 'el-hidden'}}
      {{this.className}}
  ">
    {{yield}}
      {{#if @closable}}
        <i class="el-tag__close el-icon-close" role="button" {{on 'click' this.handleClose}} >
    </i>
      {{/if}}
  </span>
{{/unless}}
