{{#if showIcon}}
  <i class="el-alert__icon {{iconClass}} {{isBigIcon}}"></i>
{{/if}}
<div class="el-alert__content">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if title}}
      <span class="el-alert__title  {{isBoldTitle}} ">
        {{ title }}
      </span>
    {{/if}}
  {{/if}}

  {{#if description}}
    <p class="el-alert__description">{{ description }}</p>
  {{/if}}

  {{#if closable}}
    <i class="el-alert__closebtn {{if closeText 'is-customed' 'el-icon-close'}} " {{action 'close'}}>
      {{closeText}}
    </i>

  {{/if}}
</div>
