<span
  class="el-checkbox__input
    {{if isChecked " is-checked "}}
    {{if isDisabled " is-disabled "}}
    {{if indeterminate " is-indeterminate "}}
    {{if focus " is-focus "}}
"
  tabindex={{compTabIndex}}
  role={{compRole}}
  aria-checked={{compAriaChecked}}
>
  <span class="el-checkbox__inner"></span>
  {{input
    type="checkbox"
    checked=value
    name=name
    disabled=isDisabled
    tabindex=tabindex
    autofocus=autofocus
    form=form
    class="el-checkbox__original"
    change=(action "handleChange")
  }}
</span>
<span class="el-checkbox__label">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{label}}
  {{/if}}
</span>

