<div class="el-message-box {{getClassNameForBox}}">

  {{#if messageObj.title}}
    <div class="el-message-box__header">
      <div class="el-message-box__title">
        {{#if isIconCenter}}
          <div class="el-message-box__status {{icon}}"></div>
        {{/if}}
        <span>{{ messageObj.title }}</span>
      </div>
      {{#if messageObj.showClose}}
        <button
          type="button"
          class="el-message-box__headerbtn"
          aria-label="Close"
          {{action "close"}}
        >
          <i class="el-message-box__close el-icon-close"></i>
        </button>
      {{/if}}
    </div>
  {{/if}}



  <div class="el-message-box__content">
    {{#if isIconCenter2}}
      <div class="el-message-box__status {{icon}}"></div>
    {{/if}}
    {{#if messageObj.message}}
      <div class="el-message-box__message">
        {{ messageObj.message }}

        {{!--<slot>--}}
        {{!--<p v-if="!dangerouslyUseHTMLString">{{ messageObj.message }}</p>--}}
        {{!--<p v-else v-html="message"></p>--}}
        {{!--</slot>--}}
      </div>
    {{/if}}
    {{#if messageObj.showInput}}
      <div class="el-message-box__input">
        {{#el-input
          value=messageObj.inputValue
          type=messageObj.inputType
          placeholder=messageObj.inputPlaceholder
          customClass=inputErrorClass
          ref="input"
        }}

        {{/el-input}}

        {{!-- todo: @keydown.enter.native="handleInputEnter"--}}

        <div class="el-message-box__errormsg">
          {{ messageObj.editorErrorMessage }}
        </div>

      </div>
    {{/if}}
  </div>
  <div class="el-message-box__btns">
    {{#if messageObj.showCancelButton}}
      {{#el-button
        loading=messageObj.cancelButtonLoading
        class=cancelButtonClasses
        round=messageObj.roundButton
        size="small"
        action=(action "handleAction" "cancel")
      }}

        {{ messageObj.cancelButtonText  }}
        {{!--@click.native="handleAction('cancel')"--}}
        {{!--@keydown.enter="handleAction('cancel')"--}}
      {{/el-button}}
    {{/if}}
    {{#if messageObj.showConfirmButton}}
      {{#el-button
        loading=messageObj.confirmButtonLoading
        ref="confirm"
        class=confirmButtonClasses
        round=messageObj.roundButton
        action=(action "handleAction" "confirm")
        size="small"
      }}
        {{!--@click.native="handleAction('confirm')"--}}
        {{!--@keydown.enter="handleAction('confirm')"--}}
        {{ messageObj.confirmButtonText }}
      {{/el-button}}
    {{/if}}
  </div>
</div>
