{{#if isTypeLine}}
  <div class="el-progress-bar">
    <div class="el-progress-bar__outer" style={{strokeWidthStyle}}>
      <div class="el-progress-bar__inner" style={{barStyle}}>
        <div class="el-progress-bar__innerText">
          {{#if showTextInside}}
            {{percentage}}%
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{else}}

  <div class="el-progress-circle" style={{circleStyle}}>
    <svg viewBox="0 0 100 100">
      <path class="el-progress-circle__track" d="{{trackPath}}" stroke="#e5e9f2" stroke-width="{{relativeStrokeWidth}}"
            fill="none"></path>
      <path class="el-progress-circle__path" d="{{trackPath}}" stroke-linecap="round" stroke="{{stroke}}"
            stroke-width="{{relativeStrokeWidth}}" fill="none" style={{circlePathStyle}}
        ></path>
    </svg>
  </div>
{{/if}}

{{#if progressText}}
  <div class="el-progress__text" style={{progressTextStyle}}>
    {{#if showStatus}}
      {{percentage}}%
    {{else}}
      <i class="{{iconClass}}"></i>
    {{/if}}
  </div>
{{/if}}
{{yield}}