{{! template-lint-disable  no-inline-styles block-indentation}}
<div class="el-rate" role="slider" aria-valuetext={{text}} aria-valuemin="0" aria-valuemax={{max}} tabindex="0"
     aria-valuenow={{currentValue}}>
  {{#each maxNumberOfTimes as |item key|}}<span class="el-rate__item" onmouseMove={{action "setCurrentValue" item}}
                                                onmouseLeave={{action "resetCurrentValue" }}
                                                onClick={{ action "selectValue" item }}
                                                key={{key}}
                                                style={{spanCursor}}
  >
      <i class="el-rate__icon {{ rating-class-helper item classes false rateDisabled _defaultColor value currentValue
                                                     key}}"

         style={{rating-class-helper item classes true  rateDisabled _defaultColor lowThreshold highThreshold max colors
                                     currentValue value }} >
        {{#if (rating-class-decimal-icon item value allowHalf pointerAtLeftHalf currentValue rateDisabled)}}
          <i style={{decimalStyle}} class="el-rate__decimal {{decimalIconClass}}"> </i>
        {{/if}}
      </i>
    </span>{{/each}}
  {{#if showTextScore}}
    <span class="el-rate__text" style={{textSpanStyle}}>{{ text }}</span>
  {{/if}}

</div>
