<span
  class="el-radio__input {{if isChecked " is-checked "}} {{if disabled " is-disabled "}}"
>
  <span class="el-radio__inner">
  </span>
  {{el-radio-input
    value=label
    model=model
    name=name
    item=item
    disabled=disabled
    changed=(action "changed")
    class="el-radio__original"
  }}
</span>
{{!--<span class="el-radio__label" @keydown.stop>--}}
<span class="el-radio__label">
  {{yield}}
  {{!--<template v-if="!$slots.default">{{label}}</template>--}}
</span>

