<h2>Alert</h2>
<p>Displays important alert messages.</p>

<h3>Basic usage</h3>
<p>Alert components are non-overlay elements in the page that does not disappear automatically.</p>
<p>Alert provides 4 types of themes defined by <code class="code">type</code> , whose default value is <code class="code">info</code> .</p>


{{el-alert title="success alert" type="success"}}<br>
{{el-alert title="info alert" type="info"}}<br>
{{el-alert title="warning alert" type="warning"}}<br>
{{el-alert title="error alert" type="error"}}<br>


<pre><code class="language-handlebars">
\{{el-alert title="success alert" type="success"}}
\{{el-alert title="info alert" type="info"}}
\{{el-alert title="warning alert" type="warning"}}
\{{el-alert title="error alert" type="error"}}
  </code></pre>

<h3>Theme</h3>
<p>Alert provide two different themes, <code class="code">light</code> and <code class="code">dark</code>.</p>

{{el-alert title="success alert" type="success" effect="dark"}}<br>
{{el-alert title="info alert" type="info" effect="dark"}}<br>
{{el-alert title="warning alert" type="warning" effect="dark"}}<br>
{{el-alert title="error alert" type="error" effect="dark"}}<br>


<pre><code class="language-handlebars">
\{{el-alert title="success alert" type="success" effect="dark"}}
\{{el-alert title="info alert" type="info" effect="dark"}}
\{{el-alert title="warning alert" type="warning" effect="dark"}}
\{{el-alert title="error alert" type="error" effect="dark"}}
  </code></pre>


<h3>Customizable close button</h3>
<p>Customize the close button as texts or other symbols.</p>

<p>Alert allows you to configure if it's closable. The close button text and closing callbacks are also customizable. <code class="code">closable</code> attribute decides if the component can be closed or not. It accepts <code class="code">boolean</code>, and the default is <code class="code">true</code>. You can set <code class="code">close-text</code> attribute to replace the default cross symbol as the close button. Be careful that <code class="code">close-text</code> must be a string. <code class="code">close</code> event fires when the component is closed.</p>


{{el-alert title="unclosable alert" type="success" closable=false}}<br>
{{el-alert title="customized close-text" type="info" closeText="Gotcha"}}<br>
{{el-alert title="alert with callback" type="warning" action=(action "hello")}}<br>


<pre><code class="language-handlebars">
\{{el-alert title="unclosable alert" type="success" closable=false}}
\{{el-alert title="customized close-text" type="info" closeText="Gotcha"}}
\{{el-alert title="alert with callback" type="warning" action=(action "hello")}}
  </code></pre>



<h3>With icon</h3>
<p>Displaying an icon improves readability.</p>

{{el-alert title="success alert" type="success" showIcon=true}}<br>
{{el-alert title="info alert" type="info" showIcon=true}}<br>
{{el-alert title="warning alert" type="warning" showIcon=true}}<br>
{{el-alert title="error alert" type="error" showIcon=true}}<br>
<pre><code class="language-handlebars">
\{{el-alert title="success alert" type="success" showIcon=true}}
\{{el-alert title="info alert" type="info" showIcon=true}}
\{{el-alert title="warning alert" type="warning" showIcon=true}}
\{{el-alert title="error alert" type="error" showIcon=true}}
  </code></pre>

<h3>Centered text</h3>
<p>Use the center attribute to center the text.</p>

{{el-alert title="success alert" type="success" center=true showIcon=true}}<br>
{{el-alert title="info alert" type="info" center=true showIcon=true}}<br>
{{el-alert title="warning alert" type="warning" center=true showIcon=true}}<br>
{{el-alert title="error alert" type="error" center=true showIcon=true}}<br>
<pre><code class="language-handlebars">
\{{el-alert title="success alert" type="success" center=true showIcon=true}}
\{{el-alert title="info alert" type="info" center=true showIcon=true}}
\{{el-alert title="warning alert" type="warning" center=true showIcon=true}}
\{{el-alert title="error alert" type="error" center=true showIcon=true}}
  </code></pre>

<h3>With description</h3>
<p>Description includes a message with more detailed information.</p>

{{el-alert
  title="with description"
  type="success"
  description="This is a description."}}

<pre><code class="language-handlebars">
\{{el-alert
  title="with description"
  type="success"
  description="This is a description."}}
  </code></pre>


<h3>With icon and description</h3>
<p>At last, this is an example with both icon and description.</p>

{{el-alert title="success alert" type="success" description="more text description" showIcon=true}}<br>
{{el-alert title="info alert" type="info" description="more text description" showIcon=true}}<br>
{{el-alert title="warning alert" type="warning" description="more text description" showIcon=true}}<br>
{{el-alert title="error alert" type="error" description="more text description" showIcon=true}}<br>


<pre><code class="language-handlebars">
\{{el-alert title="success alert" type="success" description="more text description" showIcon=true}}
\{{el-alert title="info alert" type="info" description="more text description" showIcon=true}}
\{{el-alert title="warning alert" type="warning" description="more text description" showIcon=true}}
\{{el-alert title="error alert" type="error" description="more text description" showIcon=true}}
  </code></pre>



<h3>Block Component</h3>
<p>You can use this as a block component</p>

{{#el-alert title="success alert" type="success" description="more text description" showIcon=true}}Content{{/el-alert}}<br>
{{#el-alert title="info alert" type="info" description="more text description" showIcon=true}}Content{{/el-alert}}<br>
{{#el-alert title="warning alert" type="warning" description="more text description" showIcon=true}}Content{{/el-alert}}<br>
{{#el-alert title="error alert" type="error" description="more text description" showIcon=true}}Content{{/el-alert}}<br>


<pre><code class="language-handlebars">
\{{#el-alert title="success alert" type="success" description="more text description" showIcon=true}}Content\{{/el-alert}}
\{{#el-alert title="info alert" type="info" description="more text description" showIcon=true}}Content\{{/el-alert}}
\{{#el-alert title="warning alert" type="warning" description="more text description" showIcon=true}}Content\{{/el-alert}}
\{{#el-alert title="error alert" type="error" description="more text description" showIcon=true}}Content\{{/el-alert}}
</code></pre>


<h2>Attributes</h2>
{{#el-table data=tableAttributes  as |t|}}
  {{t.column prop="attribute" label="Attribute" width=150}}
  {{t.column prop="desc" label="Description"}}
  {{t.column prop="type" label="Type" width=100}}
  {{t.column prop="val" label="Accepted Values" width=250}}
  {{t.column prop="def" label="Default" width=75}}
{{/el-table}}

<h3>Events</h3>
{{#el-table data=tableEvents as |t|}}
  {{t.column prop="event" label="Event Name" width=150}}
  {{t.column prop="desc" label="Description"}}
  {{t.column prop="param" label="Parameters" width=155}}
{{/el-table}}
