<h2>Buttons</h2>

<h3>Standard Buttons</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.header @title="The basic standard buttons styles"></card.header>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow @gutter="20" as |row|>
          <row.col>
            <ElButton>Default</ElButton>
            <ElButton @color="primary">Primary</ElButton>
            <ElButton @color="success">Success</ElButton>
            <ElButton @color="info">Info</ElButton>
            <ElButton @color="warning">Warning</ElButton>
            <ElButton @color="danger">Danger</ElButton>
          </row.col>
        </ElRow>
      </card.body>
    </ElCard>
    <pre><code class="language-handlebars">&lt;ElRow @gutter="20" as |row|>
  &lt;row.col>
    &lt;ElButton>Default&lt;/ElButton>
    &lt;ElButton @color="primary">Primary&lt;/ElButton>
    &lt;ElButton @color="success">Success&lt;/ElButton>
    &lt;ElButton @color="info">Info&lt;/ElButton>
    &lt;ElButton @color="warning">Warning&lt;/ElButton>
    &lt;ElButton @color="danger">Danger&lt;/ElButton>
  &lt;/row.col>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>


<h3>Plain Buttons</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.header @title="The disabled attribute determines if the button is disabled."></card.header>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow @gutter="20">
          <ElRow>
            <ElButton  @plain={{true}}>Plain</ElButton>
            <ElButton @color="primary" @plain={{true}}>Primary</ElButton>
            <ElButton @color="success" @plain={{true}}>Success</ElButton>
            <ElButton @color="info" @plain={{true}}>Info</ElButton>
            <ElButton @color="warning" @plain={{true}}>Warning</ElButton>
            <ElButton @color="danger" @plain={{true}}>Danger</ElButton>
          </ElRow>
        </ElRow>
      </card.body>
    </ElCard>
  <pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButton @plain={{true}}>Plain&lt;/ElButton>
  &lt;ElButton @color="primary" @plain={{true}}>Primary&lt;/ElButton>
  &lt;ElButton @color="success" @plain={{true}}>Success&lt;/ElButton>
  &lt;ElButton @color="info" @plain={{true}}>Info&lt;/ElButton>
  &lt;ElButton @color="warning" @plain={{true}}>Warning&lt;/ElButton>
  &lt;ElButton @color="danger" @plain={{true}}>Danger&lt;/ElButton>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>


<h3>Round Buttons</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow>
            <ElButton @round={{true}}>Round</ElButton>
            <ElButton @color="primary" @round={{true}}>Primary</ElButton>
            <ElButton @color="success" @round={{true}}>Success</ElButton>
            <ElButton @color="info" @round={{true}}>Info</ElButton>
            <ElButton @color="warning" @round={{true}}>Warning</ElButton>
            <ElButton @color="danger" @round={{true}}>Danger</ElButton>
        </ElRow>
      </card.body>
    </ElCard>
    <pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButton @round={{true}}>Round&lt;/ElButton>
  &lt;ElButton @color="primary" @round={{true}}>Primary&lt;/ElButton>
  &lt;ElButton @color="success" @round={{true}}>Success&lt;/ElButton>
  &lt;ElButton @color="info" @round={{true}}>Info&lt;/ElButton>
  &lt;ElButton @color="warning" @round={{true}}>Warning&lt;/ElButton>
  &lt;ElButton @color="danger" @round={{true}}>Danger&lt;/ElButton>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>


<h3>Circle with Icon Buttons</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow>
          <ElButton @icon="el-icon-search" @circle={{true}}></ElButton>
          <ElButton @color="primary" @icon="el-icon-edit" @circle={{true}}></ElButton>
          <ElButton @color="success" @icon="el-icon-check" @circle={{true}}></ElButton>
          <ElButton @color="info" @icon="el-icon-message" @circle={{true}}></ElButton>
          <ElButton @color="warning" @icon="el-icon-star-off" @circle={{true}}></ElButton>
          <ElButton @color="danger" @icon="el-icon-delete" @circle={{true}}></ElButton>
        </ElRow>
      </card.body>
    </ElCard>
    <pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButton @icon="el-icon-search" @circle={{true}}>&lt;/ElButton>
  &lt;ElButton @color="primary" @icon="el-icon-edit" @circle={{true}}>&lt;/ElButton>
  &lt;ElButton @color="success" @icon="el-icon-check" @circle={{true}}>&lt;/ElButton>
  &lt;ElButton @color="info" @icon="el-icon-message" @circle={{true}}>&lt;/ElButton>
  &lt;ElButton @color="warning" @icon="el-icon-star-off" @circle={{true}}>&lt;/ElButton>
  &lt;ElButton @color="danger" @icon="el-icon-delete" @circle={{true}}>&lt;/ElButton>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>


<h3>Disabled Standard Buttons</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.header @title="The disabled attribute determines if the button is disabled.The disabled attribute determines if the button is disabled."></card.header>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow>
            <ElButton @disabled={{true}}>Default</ElButton>
            <ElButton @disabled={{true}} @color="primary">Primary</ElButton>
            <ElButton @disabled={{true}} @color="success">Success</ElButton>
            <ElButton @disabled={{true}} @color="info">Info</ElButton>
            <ElButton @disabled={{true}} @color="warning">Warning</ElButton>
            <ElButton @disabled={{true}} @color="danger">Danger</ElButton>
        </ElRow>
      </card.body>
    </ElCard>
    <pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButton @disabled={{true}}>Default&lt;/ElButton>
  &lt;ElButton @disabled={{true}} @color="primary">Primary&lt;/ElButton>
  &lt;ElButton @disabled={{true}} @color="success">Success&lt;/ElButton>
  &lt;ElButton @disabled={{true}} @color="info">Info&lt;/ElButton>
  &lt;ElButton @disabled={{true}} @color="warning">Warning&lt;/ElButton>
  &lt;ElButton @disabled={{true}} @color="danger">Danger&lt;/ElButton>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>

<h3>Plain Disabled Buttons</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.header @title="The disabled attribute determines if the button is disabled."></card.header>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow>
          <ElButton @plain={{true}} @disabled={{true}}>Plain</ElButton>
          <ElButton @color="primary" @plain={{true}} @disabled={{true}}>Primary</ElButton>
          <ElButton @color="success" @plain={{true}} @disabled={{true}}>Success</ElButton>
          <ElButton @color="info" @plain={{true}} @disabled={{true}}>Info</ElButton>
          <ElButton @color="warning" @plain={{true}} @disabled={{true}}>Warning</ElButton>
          <ElButton @color="danger" @plain={{true}} @disabled={{true}}>Danger</ElButton>
        </ElRow>
      </card.body>
    </ElCard>
    <pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButton @plain={{true}} @disabled={{true}}>Plain&lt;/ElButton>
  &lt;ElButton @color="primary" @plain={{true}} @disabled={{true}}>Primary&lt;/ElButton>
  &lt;ElButton @color="success" @plain={{true}} @disabled={{true}}>Success&lt;/ElButton>
  &lt;ElButton @color="info" @plain={{true}} @disabled={{true}}>Info&lt;/ElButton>
  &lt;ElButton @color="warning" @plain={{true}} @disabled={{true}}>Warning&lt;/ElButton>
  &lt;ElButton @color="danger" @plain={{true}} @disabled={{true}}>Danger&lt;/ElButton>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>


<h3>Text Buttons</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.header @title="Buttons without border and background."></card.header>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow>
          <ElButton @color="text">Text Button</ElButton>
          <ElButton @color="text" @disabled={{true}}>Text Button</ElButton>
        </ElRow>
      </card.body>
    </ElCard>
    <pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButton @color="text">Text Button&lt;/ElButton>
  &lt;ElButton @color="text" @disabled={{true}}>Text Button&lt;/ElButton>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>


<h3>Button Icons</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.header @title="Use icons to add more meaning to Button. You can use icon alone to save some space, or use it with
text."></card.header>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow>
          <ElButton @color="primary" @icon="el-icon-edit"></ElButton>
          <ElButton @color="primary" @icon="el-icon-share"></ElButton>
          <ElButton @color="primary" @icon="el-icon-delete"></ElButton>
          <ElButton @color="primary" @icon="el-icon-search">Search</ElButton>
          <ElButton @color="primary">Upload <i class="el-icon-upload el-icon-right"></i></ElButton>
        </ElRow>
      </card.body>
    </ElCard>
  <pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButton @color="primary" @icon="el-icon-edit">&lt;/ElButton>
  &lt;ElButton @color="primary" @icon="el-icon-share">&lt;/ElButton>
  &lt;ElButton @color="primary" @icon="el-icon-delete">&lt;/ElButton>
  &lt;ElButton @color="primary" @icon="el-icon-search">Search&lt;/ElButton>
  &lt;ElButton @color="primary">Upload <i class="el-icon-upload el-icon-right"></i>&lt;/ElButton>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>



<h3>Button Groups </h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.header @title="Displayed as a button group, can be used to group a series of similar
operations."></card.header>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow>
          <ElButtonGroup>
            <ElButton @color="primary" @icon="el-icon-arrow-left">Previous Page</ElButton>
            <ElButton @color="primary">Next Page <i class="el-icon-arrow-right el-icon-right"></i></ElButton>
          </ElButtonGroup>

          <ElButtonGroup>
            <ElButton @color="primary" @icon="el-icon-edit"></ElButton>
            <ElButton @color="primary" @icon="el-icon-share"></ElButton>
            <ElButton @color="primary" @icon="el-icon-delete"></ElButton>
          </ElButtonGroup>
        </ElRow>
      </card.body>
    </ElCard>
    <pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButtonGroup>
    &lt;ElButton @color="primary" @icon="el-icon-arrow-left">Previous Page&lt;/ElButton>
    &lt;ElButton @color="primary">Next Page &lt;i class="el-icon-arrow-right el-icon-right">&lt;/i>&lt;/ElButton>
  &lt;/ElButtonGroup>
  
  &lt;ElButtonGroup>
    &lt;ElButton @color="primary" @icon="el-icon-edit">&lt;/ElButton>
    &lt;ElButton @color="primary" @icon="el-icon-share">&lt;/ElButton>
    &lt;ElButton @color="primary" @icon="el-icon-delete">&lt;/ElButton>
  &lt;/ElButtonGroup>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>

<h3>Loading State</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.header @title="Click the button to load data, then the button displays a loading state."></card.header>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow>
          <ElButton @color="primary" @loading={{true}}>Loading</ElButton>
        </ElRow>
      </card.body>
    </ElCard>
    <pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButton @color="primary" @loading={{true}}>Loading&lt;/ElButton>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>

<h3>Button Sizes</h3>
<ElCard class="box-card" @shadow="hover" as |card|>
  <card.header @title="Besides default size, Button component provides three additional sizes for you to choose among
different scenarios."></card.header>
  <card.body>
    <ElCard class="box-card" @shadow="naver" as |card|>
      <card.body>
        <ElRow>
          <ElButton>Default</ElButton>
          <ElButton @size="medium">Medium</ElButton>
          <ElButton @size="small">Small</ElButton>
          <ElButton @size="mini">Mini</ElButton>
        </ElRow>
        <br>
        <ElRow>
          <ElButton @round={{true}}>Default</ElButton>
          <ElButton @size="medium" @round={{true}}>Medium</ElButton>
          <ElButton @size="small" @round={{true}}>Small</ElButton>
          <ElButton @size="mini" @round={{true}}>Mini</ElButton>
        </ElRow>
      </card.body>
    </ElCard>
<pre><code class="language-handlebars">&lt;ElRow>
  &lt;ElButton>Default&lt;/ElButton>
  &lt;ElButton @size="medium">Medium&lt;/ElButton>
  &lt;ElButton @size="small">Small&lt;/ElButton>
  &lt;ElButton @size="mini">Mini&lt;/ElButton>
&lt;/ElRow>
<br>
&lt;ElRow>
  &lt;ElButton @round={{true}}>Defaul&lt;/ElButton>
  &lt;ElButton @size="medium" @round={{true}}>Medium&lt;/ElButton>
  &lt;ElButton @size="small" @round={{true}}>Small&lt;/ElButton>
  &lt;ElButton @size="mini" @round={{true}}>Mini&lt;/ElButton>
&lt;/ElRow></code></pre>
  </card.body>
</ElCard>

<h2>Attributes</h2>
<ElCard class="box-card" @shadow="hover" @bodyStyle="padding:0px;" as |card|>
  <card.body>
  <EmberTable as |t|>
    <t.head @columns={{this.columns}} />
    <t.body @rows={{this.rows}} />
  </EmberTable>
  </card.body>
</ElCard>
{{!-- {{#el-card class="box-card" shadow="hover" bodyStyle="padding:0px;" as |card|}}
{{#card.body}} --}}
{{!-- --}}
{{!-- {{#el-table data=tableAttributes as |t|}}--}}
{{!-- {{t.column prop="attribute" label="Attribute" width=150}}--}}
{{!-- {{t.column prop="desc" label="Description"}}--}}
{{!-- {{t.column prop="type" label="Type" width=100}}--}}
{{!-- {{t.column prop="val" label="Accepted Values" width=250}}--}}
{{!-- {{t.column prop="def" label="Default" width=75}}--}}
{{!-- {{/el-table}}--}}
{{!-- {{/card.body}}
{{/el-card}} --}}