<h2>Card</h2>
<p>Integrate information in a card container.</p>

<h3>Basic usage</h3>
<p>Card includes title, content and operations.</p>

{{#el-card class="box-card" as |card|}}
  {{#card.header title="Card Name"}}
    {{#el-button color="text" style="float: right; padding: 3px 0"}}Operation button{{/el-button}}
  {{/card.header}}
  {{#card.body}}
    <div  class="text item">List item 1</div>
    <div  class="text item">List item 2</div>
    <div  class="text item">List item 3</div>
    <div  class="text item">List item 4</div>
  {{/card.body}}
{{/el-card}}


<br><br>

{{#el-card class="box-card" shadow="hover" as |card|}}
  {{#card.body}}
<pre><code class="language-handlebars">\{{#el-card class="box-card" as |card|}}
  \{{#card.header title="Card Name"}}
    \{{#el-button  color="text"}}Operation button\{{/el-button}}
  \{{/card.header}}
  \{{#card.body}}
    Some content for the card
  \{{/card.body}}
\{{/el-card}}</code></pre>
  {{/card.body}}
{{/el-card}}

<br><br>



{{#el-row}}
  {{#el-col span="8" }}
    {{#el-card bodyStyle="padding: 0px"}}
      <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" class="image" style="width: 100%; display: block;">
      <div style="padding: 14px;">
        <span>Yummy hamburger</span>
        <div class="bottom clearfix">
          <time class="time">2019-10-31T14:25:05.095Z</time>
          {{#el-button color="text" style="padding: 0; float: right;"}}Operating{{/el-button}}
        </div>
      </div>
    {{/el-card}}
  {{/el-col}}
{{/el-row}}



<br><br>

{{#el-row gutter=12 as |row|}}
  {{#row.col span=8}}
    {{#el-card shadow="always" as |card|}}
      {{#card.body}}Always{{/card.body}}
    {{/el-card}}
  {{/row.col}}
  {{#row.col span=8}}
    {{#el-card shadow="hover" as |card|}}
      {{#card.body}}Hover{{/card.body}}
    {{/el-card}}
  {{/row.col}}
  {{#row.col span=8}}
    {{#el-card shadow="never" as |card|}}
      {{#card.body}}Never{{/card.body}}
    {{/el-card}}
  {{/row.col}}
{{/el-row}}




<h2>Attributes</h2>
{{#el-card class="box-card" shadow="hover" bodyStyle="padding:0px;" as |card|}}
  {{#card.body}}
{{!--    {{#el-table data=tableAttributes  as |t|}}--}}
{{!--      {{t.column prop="attribute" label="Attribute" width=150}}--}}
{{!--      {{t.column prop="desc" label="Description"}}--}}
{{!--      {{t.column prop="type" label="Type" width=100}}--}}
{{!--      {{t.column prop="val" label="Accepted Values" width=250}}--}}
{{!--      {{t.column prop="def" label="Default" width=75}}--}}
{{!--    {{/el-table}}--}}
  {{/card.body}}
{{/el-card}}
