{{outlet}}
<h2>Divider</h2>
<h3>The dividing line that separates the content.</h3>
<div>
  <h2>Basic usage</h2>
  <span>I sit at my window this morning where the world like a passer-by stops for a moment, nods to me and goes.</span>
  {{el-divider}}
  <span>There little thoughts are the rustle of leaves; they have their whisper of joy in my mind.</span>
  <pre><code class="language-handlebars">\{{el-divider}}</code></pre>

  <h2>Custom content</h2>
  <span>What you are you do not see, what you see is your shadow.</span>
  {{#el-divider contentPosition="left"}}Rabindranath Tagore{{/el-divider}}
  <span>I cannot choose the best. The best chooses me.</span>
  {{#el-divider}}<i class="el-icon-star-on"></i>{{/el-divider}}
  <span>My wishes are fools, they shout across thy song, my Master. Let me but listen.</span>
<pre style="white-space: pre;"><code class="language-handlebars">&lt;div&gt;
    &lt;span&gt;What you are you do not see, what you see is your shadow.&lt;/span&gt;
    \{{#el-divider contentPosition="left"}}Rabindranath Tagore\{{/el-divider}}
    &lt;span&gt;I cannot choose the best. The best chooses me.&lt;/span&gt;
    \{{#el-divider}}&lt;i class="el-icon-star-on">&lt;/i>\{{/el-divider}}
    &lt;span&gt;My wishes are fools, they shout across thy song, my Master. Let me but listen.&lt;/span&gt;
    \{{#el-divider contentPosition="right"}}Rabindranath Tagore\{{/el-divider}}
&lt;/div&gt;</code></pre>

  <h2>Vertical divider</h2>
  <div>
    <span>Rain</span>
    {{el-divider direction="vertical"}}
    <span>Home</span>
    {{el-divider direction="vertical"}}
    <span>Grass</span>
  </div>
<pre style="white-space: pre;"><code class="language-handlebars">&lt;div&gt;
  &lt;span&gt;Rain&lt;/span&gt;
  \{{el-divider direction="vertical"}}
  &lt;span&gt;Home.&lt;/span&gt;
  \{{el-divider direction="vertical"}}
  &lt;span&gt;Grass&lt;/span&gt;
&lt;/div&gt;</code></pre>
</div>


<h2>Divider Attributes</h2>
{{#el-table data=tableAttributes  as |t|}}
{{t.column prop="attribute" label="Attribute" width=150}}
{{t.column prop="desc" label="Description" width=250}}
{{t.column prop="type" label="Type" width=100}}
{{t.column prop="val" label="Accepted Values" width=150}}
{{t.column prop="def" label="Default" width=75}}
{{/el-table}}

