<h2>Input</h2>
<h3>Input data using mouse or keyboard.</h3>
<div>
<h3>Basic usage</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
  {{#card.body}}
    {{#el-card class="box-card" shadow="naver" as |card|}}
      {{#card.body}}
        {{#el-input placeholder="Please input" type="" value=value customClass="input-width"}}{{/el-input}}
        {{#if value.length}}
          <br><br>&nbsp;&nbsp;{{value}}
        {{/if}}
      {{/card.body}}
    {{/el-card}}
<pre><code class="language-handlebars">\{{#el-input placeholder="Please input"}}\{{/el-input}}</code></pre>
  {{/card.body}}
{{/el-card}}

<h3>Disabled</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
  {{#card.body}}
    {{#el-card class="box-card" shadow="naver" as |card|}}
      {{#card.body}}
        {{#el-input placeholder="Please input" disabled="true" customClass="input-width"}}{{/el-input}}
      {{/card.body}}
    {{/el-card}}
<pre><code class="language-handlebars">\{{#el-input placeholder="Please input" disabled="true"}}\{{/el-input}}</code></pre>
  {{/card.body}}
{{/el-card}}

<h3>Clearable</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
  {{#card.body}}
{{#el-card class="box-card" shadow="naver" as |card|}}
  {{#card.body}}
    <div class="input-width">
      {{#el-input placeholder="Please input" clearable="true" }}{{/el-input}}
    </div>
  {{/card.body}}
{{/el-card}}
<pre><code class="language-handlebars">\{{#el-input placeholder="Please input" clearable="true"}}\{{/el-input}}</code></pre>
  {{/card.body}}
{{/el-card}}

<h3>Input with icon</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
{{#card.header title="You can simply use prefixIcon and suffixIcon attributes."}}{{/card.header}}
  {{#card.body}}
{{#el-card class="box-card" shadow="naver" as |card|}}
  {{#card.body}}
    <div class="input-width">
    {{#el-input placeholder="Please input" prefixIcon="el-icon-search" }}{{/el-input}}
    <br>
    <br>
    {{#el-input placeholder="Please input" suffixIcon="el-icon-date" }}{{/el-input}}
   </div>
  {{/card.body}}
{{/el-card}}
<pre><code class="language-handlebars">\{{#el-input placeholder="Please input" prefixIcon="el-icon-search"}}\{{/el-input}}
\{{#el-input placeholder="Please input" suffixIcon="el-icon-date"}}\{{/el-input}}</code></pre>
  {{/card.body}}
{{/el-card}}
</div>

<h2>Attributes</h2>
{{#el-card class="box-card" shadow="hover" bodyStyle="padding:0px;" as |card|}}
{{#card.body}}
    {{#el-table data=tableAttributes  as |t|}}
      {{t.column prop="attribute" label="Attribute" width=150}}
      {{t.column prop="desc" label="Description"}}
      {{t.column prop="type" label="Type" width=100}}
      {{t.column prop="val" label="Accepted Values" width=250}}
      {{t.column prop="def" label="Default" width=75}}
    {{/el-table}}
{{/card.body}}
{{/el-card}}



