<h2>Message</h2>
<p>Used to show feedback after an activity. The difference with Notification is that the latter is often used to show a system level passive notification.</p>


{{#el-card class="box-card" shadow="hover" as |card|}}
  {{#card.header title="To Manage Messages, add Notification Container to your main template"}}{{/card.header}}
  {{#card.body}}
<pre><code class="language-handlebars">\{{el-notification-container}}
</code></pre>
  {{/card.body}}
{{/el-card}}




<h3>Basic usage</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
  {{#card.header title="Displays at the top, and disappears after 3 seconds."}}{{/card.header}}
  {{#card.body}}
    {{#el-card class="box-card" shadow="naver" as |card|}}
      {{#card.body}}
        {{#el-button plain="true" click=(action 'open')}}Show message{{/el-button}}
      {{/card.body}}
    {{/el-card}}
<pre><code class="language-handlebars">\{{#el-button plain="true" click=(action 'open')}}Show message\{{/el-button}}
</code></pre>
<pre><code class="language-javascript">import { inject as service } from '@ember/service';
</code></pre>
<pre><code class="language-javascript">message: service(),
actions:{
  open(){
    this.get('message').success("Welcome Man Welcome");
  }
}
</code></pre>
  {{/card.body}}
{{/el-card}}


<h3>Types</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
  {{#card.header title="Used to show the feedback of Success, Warning, Message and Error activities."}}{{/card.header}}
  {{#card.body}}
    {{#el-card class="box-card" shadow="naver" as |card|}}
      {{#card.body}}
      {{#el-button plain="true" click=(action "open2")}}success{{/el-button}}
      {{#el-button plain="true" click=(action "open3")}}warning{{/el-button}}
      {{#el-button plain="true" click=(action "open")}}message{{/el-button}}
      {{#el-button plain="true" click=(action "open4")}}error{{/el-button}}
      {{/card.body}}
    {{/el-card}}
<pre><code class="language-handlebars">
\{{#el-button plain="true" click=(action "open2")}}success\{{/el-button}}
\{{#el-button plain="true" click=(action "open3")}}warning\{{/el-button}}
\{{#el-button plain="true" click=(action "open")}}message\{{/el-button}}
\{{#el-button plain="true" click=(action "open4")}}error\{{/el-button}}
</code></pre>
<pre><code class="language-javascript">message: service(),
actions:{
  open(){
    this.get('message').info("This is a message.");
  },
  open2(){
    this.get('message').success("Congrats, this is a success message.");
  },
  open3(){
    this.get('message').warning("Warning, this is a warning message.");
  },
  open4(){
    this.get('message').error("Oops, this is a error message.");
  },
}
</code></pre>
  {{/card.body}}
{{/el-card}}

<h3>Closable</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
  {{#card.header title="A close button can be added."}}{{/card.header}}
  {{#card.body}}
    {{#el-card class="box-card" shadow="naver" as |card|}}
      {{#card.body}}
        {{#el-button plain="true" click=(action "open5")}}message{{/el-button}}
        {{#el-button plain="true" click=(action "open6")}}success{{/el-button}}
        {{#el-button plain="true" click=(action "open7")}}warning{{/el-button}}
        {{#el-button plain="true" click=(action "open8")}}error{{/el-button}}
      {{/card.body}}
    {{/el-card}}
<pre><code class="language-handlebars">
\{{#el-button plain="true" click=(action "open5")}}message\{{/el-button}}
\{{#el-button plain="true" click=(action "open6")}}success\{{/el-button}}
\{{#el-button plain="true" click=(action "open7")}}warning\{{/el-button}}
\{{#el-button plain="true" click=(action "open8")}}error\{{/el-button}}
</code></pre>
<pre><code class="language-javascript">message: service(),
actions:{
  open5() {
    this.get('message').info("This is a message.", {
      showClose: true,
      autoClear: false,
    });
  },
  open6() {
    this.get('message').success("Congrats, this is a success message.", {
      showClose: true,
      autoClear: false,
    });
  },
  open7() {
    this.get('message').warning("Warning, this is a warning message.", {
      showClose: true,
      autoClear: false,
    });
  },
  open8() {
    this.get('message').error("Oops, this is a error message.", {
      showClose: true,
      autoClear: false,
    });
  },
}
</code></pre>
  {{/card.body}}
{{/el-card}}


<h3>Centered text</h3>
{{#el-card class="box-card" shadow="hover" as |card|}}
  {{#card.header bodyStyle="padding:4px 0px 4px 20PX;"}}
    <p>Use the <code class="code">center</code> attribute to center the text.</p>
  {{/card.header}}
  {{#card.body}}
    {{#el-card class="box-card" shadow="naver" as |card|}}
      {{#card.body}}
        {{#el-button plain="true" click=(action "openCenter")}}Centered Text{{/el-button}}
      {{/card.body}}
    {{/el-card}}
<pre><code class="language-handlebars">
\{{#el-button plain="true" click=(action "openCenter")}}Centered Text\{{/el-button}}
</code></pre>
<pre><code class="language-javascript">message: service(),
actions:{
  openCenter() {
    this.get('message').info("Center Text", {
      center: true
    });
  },
}
</code></pre>
  {{/card.body}}
{{/el-card}}

<h2>Attributes</h2>
{{#el-card class="box-card" shadow="hover" bodyStyle="padding:0px;" as |card|}}
{{#card.body}}

  <EmberTable as |t|>
    <t.head @columns={{this.columns}} />
    <t.body @rows={{this.rows}} />
  </EmberTable>
  {{!-- {{#el-table data=tableAttributes  as |t|}}
    {{t.column prop="attribute" label="Attribute" width=150}}
    {{t.column prop="desc" label="Description"}}
    {{t.column prop="type" label="Type" width=100}}
    {{t.column prop="val" label="Accepted Values" width=250}}
    {{t.column prop="def" label="Default" width=75}}
  {{/el-table}} --}}
{{/card.body}}
{{/el-card}}