<h2>Progress</h2>
<p>Progress is used to show the progress of current operation, and inform the user the current status.</p>

<div>
  <h3>Linear progress bar (external percentage)</h3>
  <ElCard class="box-card" @shadow="hover" as |card|>
    <ElCardBody>
      <ElCard class="box-card" @shadow="hover" as |card|>
        <ElCardBody>
          <ElProgress @percentage="0" ></ElProgress>
          <ElProgress @percentage="70"></ElProgress>
          <ElProgress @percentage="80" @color="#8e71c7"></ElProgress>
          <ElProgress @percentage="100" @status="success"></ElProgress>
          <ElProgress @percentage="50" @status="exception"></ElProgress>
        </ElCardBody>
      </ElCard>

      <pre><code class="language-handlebars">&lt;ElProgress @percentage="0"/>
&lt;ElProgress @percentage="70">&lt;/ElProgress>
&lt;ElProgress @percentage="80" @color="#8e71c7">&lt;/ElProgress>
&lt;ElProgress @percentage="100" @status="success">&lt;/ElProgress>
&lt;ElProgress @percentage="50" @status="exception">&lt;/ElProgress></code></pre>
    </ElCardBody>
  </ElCard>

  <h3>Linear progress bar (internal percentage)</h3>
  <ElCard class="box-card" @shadow="hover" as |card|>
    <ElCardHeader @title="In this case the percentage takes no additional space."></ElCardHeader>
    <ElCardBody>
      <ElCard class="box-card" @shadow="naver" as |card|>
        <ElCardBody>
          <ElProgress @textInside="true" @strokeWidth="18" @percentage="0"></ElProgress>
          <ElProgress @textInside="true" @strokeWidth="18" @percentage="70"></ElProgress>
          <ElProgress @textInside="true" @strokeWidth="18" @percentage="80" @color="rgba(142, 113, 199, 0.7)">
          </ElProgress>
          <ElProgress @textInside="true" @strokeWidth="18" @percentage="100" @status="success"></ElProgress>
          <ElProgress @textInside="true" @strokeWidth="18" @percentage="50" @status="exception"></ElProgress>
        </ElCardBody>
      </ElCard>
<pre><code class="language-handlebars">&lt;ElProgress @textInside="true" @strokeWidth="18" @percentage="0">&lt;/ElProgress>
&lt;ElProgress @textInside="true" @strokeWidth="18" @percentage="70">&lt;/ElProgress>
&lt;ElProgress @textInside="true" @strokeWidth="18" @percentage="80" @color="rgba(142, 113, 199, 0.7)">
&lt;/ElProgress>
&lt;ElProgress @textInside="true" @strokeWidth="18" @percentage="100" @status="success">&lt;/ElProgress>
&lt;ElProgress @textInside="true" @strokeWidth="18" @percentage="50" @status="exception">&lt;/ElProgress></code></pre>
    </ElCardBody>
  </ElCard>


  <h3>Circular progress bar</h3>
  <ElCard class="box-card" @shadow="hover" as |card|>
    <ElCardHeader @bodyStyle="padding:4px 0px 4px 20PX;">
      <p>
        You can specify <code class="code">type</code> attribute to <code class="code">circle</code> to use circular
        progress
        bar, and use <code class="code">width</code> attribute to change the size of circle.
      </p>
    </ElCardHeader>
    <ElCardBody>
      <ElCard class="box-card" @shadow="naver" as |card|>
        <ElCardBody>
          <ElProgress @type="circle" @percentage="0"></ElProgress>
          <ElProgress @type="circle" @percentage="25"></ElProgress>
          <ElProgress @type="circle" @percentage="80" @color="#8e71c7"></ElProgress>
          <ElProgress @type="circle" @percentage="100" @status="success"></ElProgress>
          <ElProgress @type="circle" @percentage="50" @status="exception"></ElProgress>
          <ElProgress @type="circle" @percentage="100" @status="text">Done</ElProgress>
          <br>
          <ElProgress @type="circle" @percentage="90" @status="text" @width=250>ALMOST THERE</ElProgress>
        </ElCardBody>
      </ElCard>
<pre><code class="language-handlebars">&lt;ElProgress @type="circle" @percentage="0">&lt;/ElProgress>
&lt;ElProgress @type="circle" @percentage="25">&lt;/ElProgress>
&lt;ElProgress @type="circle" @percentage="80" @color="#8e71c7">&lt;/ElProgress>
&lt;ElProgress @type="circle" @percentage="100" @status="success">&lt;/ElProgress>
&lt;ElProgress @type="circle" @percentage="50" @status="exception">&lt;/ElProgress>
&lt;ElProgress @type="circle" @percentage="100" @status="text">Done&lt;/ElProgress>

&lt;ElProgress @type="circle" @percentage="90" @status="text" @width=250>ALMOST THERE&lt;/ElProgress></code></pre>
    </ElCardBody>
  </ElCard>
</div>

<h2>Attributes</h2>
{{#el-card class="box-card" shadow="hover" bodyStyle="padding:0px;" as |card|}}
{{#card.body}}
<EmberTable as |t|>
  <t.head @columns={{this.columns}} />
  <t.body @rows={{this.rows}} />
</EmberTable>

{{!-- {{#el-table data=tableAttributes as |t|}}--}}
{{!-- {{t.column prop="attribute" label="Attribute" width=150}}--}}
{{!-- {{t.column prop="desc" label="Description"}}--}}
{{!-- {{t.column prop="type" label="Type" width=100}}--}}
{{!-- {{t.column prop="val" label="Accepted Values" width=250}}--}}
{{!-- {{t.column prop="def" label="Default" width=75}}--}}
{{!-- {{/el-table}}--}}
{{/card.body}}
{{/el-card}}