<h2>Tag</h2>
<p>Used for marking and selection.</p>


<h3>Basic Usage</h3>


{{#el-tag}}Tag One{{/el-tag}}
{{#el-tag type="success"}}Tag Two{{/el-tag}}
{{#el-tag type="info"}}Tag Three{{/el-tag}}
{{#el-tag type="warning"}}Tag Four{{/el-tag}}
{{#el-tag type="danger"}}Tag Five{{/el-tag}}

<pre><code class="language-handlebars">
\{{#el-tag}}Tag One\{{/el-tag}}
\{{#el-tag type="success"}}Tag Two\{{/el-tag}}
\{{#el-tag type="info"}}Tag Three\{{/el-tag}}
\{{#el-tag type="warning"}}Tag Four\{{/el-tag}}
\{{#el-tag type="danger"}}Tag Five\{{/el-tag}}
  </code></pre>

<h3>Removable Tag</h3>

{{#el-tag closable=true type="" close=(action 'handleTag')}}Tag 1{{/el-tag}}
{{#el-tag closable=true type="success"}}Tag 2{{/el-tag}}
{{#el-tag closable=true type="info"}}Tag 3{{/el-tag}}
{{#el-tag closable=true type="warning"}}Tag 4{{/el-tag}}
{{#el-tag closable=true type="danger"}}Tag 5{{/el-tag}}

<pre><code class="language-handlebars">
\{{#el-tag closable=true type="" close=(action 'handleTag')}}Tag 1\{{/el-tag}}
\{{#el-tag closable=true type="success"}}Tag 2\{{/el-tag}}
\{{#el-tag closable=true type="info"}}Tag 3\{{/el-tag}}
\{{#el-tag closable=true type="warning"}}Tag 4\{{/el-tag}}
\{{#el-tag closable=true type="danger"}}Tag 5\{{/el-tag}}
  </code></pre>



<h3>Sizes</h3>
{{#el-tag}}Default{{/el-tag}}
{{#el-tag size="medium"}}Medium{{/el-tag}}
{{#el-tag size="small"}}Small{{/el-tag}}
{{#el-tag size="mini"}}Mini{{/el-tag}}

<pre><code class="language-handlebars">
\{{#el-tag}}Default\{{/el-tag}}
\{{#el-tag size="medium"}}Medium\{{/el-tag}}
\{{#el-tag size="small"}}Small\{{/el-tag}}
\{{#el-tag size="mini"}}Mini\{{/el-tag}}
  </code></pre>



<h2>Attributes</h2>
{{#el-table data=tableAttributes  as |t|}}
  {{t.column prop="attribute" label="Attribute" width=150}}
  {{t.column prop="desc" label="Description"}}
  {{t.column prop="type" label="Type" width=100}}
  {{t.column prop="val" label="Accepted Values" width=250}}
  {{t.column prop="def" label="Default" width=75}}
{{/el-table}}


<h3>Events</h3>
{{#el-table data=tableEvents as |t|}}
  {{t.column prop="event" label="Event Name" width=150}}
  {{t.column prop="desc" label="Description"}}
  {{t.column prop="param" label="Parameters" width=155}}
{{/el-table}}
